src/assets/wsdl/sf/SF.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://impl.server.order.services.wbs.osms.sf.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="OrderWebServiceImplService" targetNamespace="http://impl.server.order.services.wbs.osms.sf.com/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://impl.server.order.services.wbs.osms.sf.com/" elementFormDefault="unqualified" targetNamespace="http://impl.server.order.services.wbs.osms.sf.com/" version="1.0">
      <xs:element name="expressService" type="tns:expressService"/>
      <xs:element name="expressServiceResponse" type="tns:expressServiceResponse"/>
      <xs:element name="sfexpressService" type="tns:sfexpressService"/>
      <xs:element name="sfexpressServiceResponse" type="tns:sfexpressServiceResponse"/>
      <xs:complexType name="sfexpressService">
        <xs:sequence>
          <xs:element minOccurs="0" name="data" type="xs:string"/>
          <xs:element minOccurs="0" name="validateStr" type="xs:string"/>
          <xs:element minOccurs="0" name="customerCode" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sfexpressServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Return" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="expressService">
        <xs:sequence>
          <xs:element minOccurs="0" name="byteData" type="xs:base64Binary"/>
          <xs:element minOccurs="0" name="verifyCode" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="expressServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Return" type="xs:base64Binary"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="expressServiceResponse">
    <wsdl:part element="tns:expressServiceResponse" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sfexpressServiceResponse">
    <wsdl:part element="tns:sfexpressServiceResponse" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sfexpressService">
    <wsdl:part element="tns:sfexpressService" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="expressService">
    <wsdl:part element="tns:expressService" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrderWebService">
    <wsdl:operation name="sfexpressService">
      <wsdl:input message="tns:sfexpressService" name="sfexpressService"> </wsdl:input>
      <wsdl:output message="tns:sfexpressServiceResponse" name="sfexpressServiceResponse"> </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="expressService">
      <wsdl:input message="tns:expressService" name="expressService"> </wsdl:input>
      <wsdl:output message="tns:expressServiceResponse" name="expressServiceResponse"> </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderWebServiceImplServiceSoapBinding" type="tns:OrderWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sfexpressService">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sfexpressService">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sfexpressServiceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="expressService">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="expressService">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="expressServiceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderWebServiceImplService">
    <wsdl:port binding="tns:OrderWebServiceImplServiceSoapBinding" name="OrderWebServiceImplPort">
      <soap:address location="http://osms.sit.sf-express.com:2080/osms/services/OrderWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
