src/assets/wsdl/dpd/Trace.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.cargonet.software/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.cargonet.software/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cargonet.software/">
      <s:element name="isAlive">
        <s:complexType />
      </s:element>
      <s:element name="isAliveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isAliveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setAlive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="value" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setAliveResponse">
        <s:complexType />
      </s:element>
      <s:element name="getInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTrace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shipmentnumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getShipmentTraceResult" type="tns:clsShipmentTrace" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsShipmentTrace">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsShipmentTraceBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="POD_Url" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="POA_Url" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="clsShipmentTraceBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LastError" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipmentNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationCountry" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationZipcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShippingDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Receiver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryScheduled" type="tns:SdgiData" />
          <s:element minOccurs="0" maxOccurs="1" name="Traces" type="tns:ArrayOfClsTrace" />
          <s:element minOccurs="0" maxOccurs="1" name="Reference_International" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsB2C" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsRetour" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PointRelaisName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PointRelaisLink" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShipmentNumber_Retour" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerCenternumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerNumber" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SdgiData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StartTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EndTime" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfClsTrace">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsTrace" nillable="true" type="tns:clsTrace" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsTrace">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ScanDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ScanTime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CenterName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Info" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Details" type="tns:ArrayOfClsTraceDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfClsTraceDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsTraceDetails" nillable="true" type="tns:clsTraceDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsTraceDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getShipmentTraceAsArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shipmentnumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceAsArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getShipmentTraceAsArrayResult" type="tns:ArrayOfClsShipmentTrace" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsShipmentTrace">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsShipmentTrace" nillable="true" type="tns:clsShipmentTrace" />
        </s:sequence>
      </s:complexType>
      <s:element name="getShipmentTraceByLanguageAsArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shipmentnumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByLanguageAsArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getShipmentTraceByLanguageAsArrayResult" type="tns:ArrayOfClsShipmentTrace" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceWithImages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shipmentnumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceWithImagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getShipmentTraceWithImagesResult" type="tns:ArrayOfClsShipmentTraceWithImages" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClsShipmentTraceWithImages">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="clsShipmentTraceWithImages" nillable="true" type="tns:clsShipmentTraceWithImages" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="clsShipmentTraceWithImages">
        <s:complexContent mixed="false">
          <s:extension base="tns:clsShipmentTraceBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="images" type="tns:ArrayOfImage" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfImage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Image" nillable="true" type="tns:Image" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Image">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="type" type="tns:ImageType" />
          <s:element minOccurs="0" maxOccurs="1" name="image" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ImageType">
        <s:restriction base="s:string">
          <s:enumeration value="POD" />
          <s:enumeration value="POA" />
          <s:enumeration value="DeliverySignature" />
          <s:enumeration value="DeliveryShop" />
          <s:enumeration value="PickupSignature" />
        </s:restriction>
      </s:simpleType>
      <s:element name="getShipmentTraceByReference">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shipping_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByReferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getShipmentTraceByReferenceResult" type="tns:clsShipmentTrace" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByReferenceAsArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shipping_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByReferenceAsArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getShipmentTraceByReferenceAsArrayResult" type="tns:ArrayOfClsShipmentTrace" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByReferenceAndLanguageAsArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shipping_date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="searchmode" type="tns:ReferenceSearchMode" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ReferenceSearchMode">
        <s:restriction base="s:string">
          <s:enumeration value="SearchMode_Equals" />
          <s:enumeration value="SearchMode_Like" />
        </s:restriction>
      </s:simpleType>
      <s:element name="getShipmentTraceByReferenceAndLanguageAsArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getShipmentTraceByReferenceAndLanguageAsArrayResult" type="tns:ArrayOfClsShipmentTrace" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByReferenceWithImages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shipping_date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="searchmode" type="tns:ReferenceSearchMode" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByReferenceWithImagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getShipmentTraceByReferenceWithImagesResult" type="tns:ArrayOfClsShipmentTraceWithImages" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByReferenceGlobal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shipping_date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="shipping_customer" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByReferenceGlobalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getShipmentTraceByReferenceGlobalResult" type="tns:clsShipmentTrace" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByReferenceGlobalAsArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shipping_date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="shipping_customer" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByReferenceGlobalAsArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getShipmentTraceByReferenceGlobalAsArrayResult" type="tns:ArrayOfClsShipmentTrace" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByReferenceGlobalWithCenterAsArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shipping_date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="shipping_customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="shipping_customer" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByReferenceGlobalWithCenterAsArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getShipmentTraceByReferenceGlobalWithCenterAsArrayResult" type="tns:ArrayOfClsShipmentTrace" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByReferenceAndLanguageGlobalAsArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shipping_date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="shipping_customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="shipping_customer" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="searchmode" type="tns:ReferenceSearchMode" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByReferenceAndLanguageGlobalAsArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getShipmentTraceByReferenceAndLanguageGlobalAsArrayResult" type="tns:ArrayOfClsShipmentTrace" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByReferenceGlobalWithImages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shipping_date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="shipping_customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="shipping_customer" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="searchmode" type="tns:ReferenceSearchMode" />
            <s:element minOccurs="0" maxOccurs="1" name="language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByReferenceGlobalWithImagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getShipmentTraceByReferenceGlobalWithImagesResult" type="tns:ArrayOfClsShipmentTraceWithImages" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByDPDReferenceGlobalAsArray">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customer_center" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customer" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dpd_reference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getShipmentTraceByDPDReferenceGlobalAsArrayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getShipmentTraceByDPDReferenceGlobalAsArrayResult" type="tns:ArrayOfClsShipmentTrace" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="isAliveSoapIn">
    <wsdl:part name="parameters" element="tns:isAlive" />
  </wsdl:message>
  <wsdl:message name="isAliveSoapOut">
    <wsdl:part name="parameters" element="tns:isAliveResponse" />
  </wsdl:message>
  <wsdl:message name="setAliveSoapIn">
    <wsdl:part name="parameters" element="tns:setAlive" />
  </wsdl:message>
  <wsdl:message name="setAliveSoapOut">
    <wsdl:part name="parameters" element="tns:setAliveResponse" />
  </wsdl:message>
  <wsdl:message name="getInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getInfo" />
  </wsdl:message>
  <wsdl:message name="getInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceSoapIn">
    <wsdl:part name="parameters" element="tns:getShipmentTrace" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceSoapOut">
    <wsdl:part name="parameters" element="tns:getShipmentTraceResponse" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceAsArraySoapIn">
    <wsdl:part name="parameters" element="tns:getShipmentTraceAsArray" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceAsArraySoapOut">
    <wsdl:part name="parameters" element="tns:getShipmentTraceAsArrayResponse" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByLanguageAsArraySoapIn">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByLanguageAsArray" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByLanguageAsArraySoapOut">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByLanguageAsArrayResponse" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceWithImagesSoapIn">
    <wsdl:part name="parameters" element="tns:getShipmentTraceWithImages" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceWithImagesSoapOut">
    <wsdl:part name="parameters" element="tns:getShipmentTraceWithImagesResponse" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceSoapIn">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReference" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceSoapOut">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceAsArraySoapIn">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceAsArray" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceAsArraySoapOut">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceAsArrayResponse" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceAndLanguageAsArraySoapIn">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceAndLanguageAsArray" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceAndLanguageAsArraySoapOut">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceAndLanguageAsArrayResponse" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceWithImagesSoapIn">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceWithImages" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceWithImagesSoapOut">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceWithImagesResponse" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceGlobalSoapIn">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceGlobal" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceGlobalSoapOut">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceGlobalResponse" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceGlobalAsArraySoapIn">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceGlobalAsArray" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceGlobalAsArraySoapOut">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceGlobalAsArrayResponse" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceGlobalWithCenterAsArraySoapIn">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceGlobalWithCenterAsArray" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceGlobalWithCenterAsArraySoapOut">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceGlobalWithCenterAsArrayResponse" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceAndLanguageGlobalAsArraySoapIn">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceAndLanguageGlobalAsArray" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceAndLanguageGlobalAsArraySoapOut">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceAndLanguageGlobalAsArrayResponse" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceGlobalWithImagesSoapIn">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceGlobalWithImages" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByReferenceGlobalWithImagesSoapOut">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByReferenceGlobalWithImagesResponse" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByDPDReferenceGlobalAsArraySoapIn">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByDPDReferenceGlobalAsArray" />
  </wsdl:message>
  <wsdl:message name="getShipmentTraceByDPDReferenceGlobalAsArraySoapOut">
    <wsdl:part name="parameters" element="tns:getShipmentTraceByDPDReferenceGlobalAsArrayResponse" />
  </wsdl:message>
  <wsdl:portType name="Webtrace_ServiceSoap">
    <wsdl:operation name="isAlive">
      <wsdl:input message="tns:isAliveSoapIn" />
      <wsdl:output message="tns:isAliveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setAlive">
      <wsdl:input message="tns:setAliveSoapIn" />
      <wsdl:output message="tns:setAliveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInfo">
      <wsdl:input message="tns:getInfoSoapIn" />
      <wsdl:output message="tns:getInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getShipmentTrace">
      <wsdl:input message="tns:getShipmentTraceSoapIn" />
      <wsdl:output message="tns:getShipmentTraceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceAsArray">
      <wsdl:input message="tns:getShipmentTraceAsArraySoapIn" />
      <wsdl:output message="tns:getShipmentTraceAsArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByLanguageAsArray">
      <wsdl:input message="tns:getShipmentTraceByLanguageAsArraySoapIn" />
      <wsdl:output message="tns:getShipmentTraceByLanguageAsArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceWithImages">
      <wsdl:input message="tns:getShipmentTraceWithImagesSoapIn" />
      <wsdl:output message="tns:getShipmentTraceWithImagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReference">
      <wsdl:input message="tns:getShipmentTraceByReferenceSoapIn" />
      <wsdl:output message="tns:getShipmentTraceByReferenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceAsArray">
      <wsdl:input message="tns:getShipmentTraceByReferenceAsArraySoapIn" />
      <wsdl:output message="tns:getShipmentTraceByReferenceAsArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceAndLanguageAsArray">
      <wsdl:input message="tns:getShipmentTraceByReferenceAndLanguageAsArraySoapIn" />
      <wsdl:output message="tns:getShipmentTraceByReferenceAndLanguageAsArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceWithImages">
      <wsdl:input message="tns:getShipmentTraceByReferenceWithImagesSoapIn" />
      <wsdl:output message="tns:getShipmentTraceByReferenceWithImagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceGlobal">
      <wsdl:input message="tns:getShipmentTraceByReferenceGlobalSoapIn" />
      <wsdl:output message="tns:getShipmentTraceByReferenceGlobalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceGlobalAsArray">
      <wsdl:input message="tns:getShipmentTraceByReferenceGlobalAsArraySoapIn" />
      <wsdl:output message="tns:getShipmentTraceByReferenceGlobalAsArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceGlobalWithCenterAsArray">
      <wsdl:input message="tns:getShipmentTraceByReferenceGlobalWithCenterAsArraySoapIn" />
      <wsdl:output message="tns:getShipmentTraceByReferenceGlobalWithCenterAsArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceAndLanguageGlobalAsArray">
      <wsdl:input message="tns:getShipmentTraceByReferenceAndLanguageGlobalAsArraySoapIn" />
      <wsdl:output message="tns:getShipmentTraceByReferenceAndLanguageGlobalAsArraySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceGlobalWithImages">
      <wsdl:input message="tns:getShipmentTraceByReferenceGlobalWithImagesSoapIn" />
      <wsdl:output message="tns:getShipmentTraceByReferenceGlobalWithImagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByDPDReferenceGlobalAsArray">
      <wsdl:input message="tns:getShipmentTraceByDPDReferenceGlobalAsArraySoapIn" />
      <wsdl:output message="tns:getShipmentTraceByDPDReferenceGlobalAsArraySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Webtrace_ServiceSoap" type="tns:Webtrace_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isAlive">
      <soap:operation soapAction="http://www.cargonet.software/isAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setAlive">
      <soap:operation soapAction="http://www.cargonet.software/setAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfo">
      <soap:operation soapAction="http://www.cargonet.software/getInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTrace">
      <soap:operation soapAction="http://www.cargonet.software/getShipmentTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceAsArray">
      <soap:operation soapAction="http://www.cargonet.software/getShipmentTraceAsArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByLanguageAsArray">
      <soap:operation soapAction="http://www.cargonet.software/getShipmentTraceByLanguageAsArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceWithImages">
      <soap:operation soapAction="http://www.cargonet.software/getShipmentTraceWithImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReference">
      <soap:operation soapAction="http://www.cargonet.software/getShipmentTraceByReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceAsArray">
      <soap:operation soapAction="http://www.cargonet.software/getShipmentTraceByReferenceAsArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceAndLanguageAsArray">
      <soap:operation soapAction="http://www.cargonet.software/getShipmentTraceByReferenceAndLanguageAsArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceWithImages">
      <soap:operation soapAction="http://www.cargonet.software/getShipmentTraceByReferenceWithImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceGlobal">
      <soap:operation soapAction="http://www.cargonet.software/getShipmentTraceByReferenceGlobal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceGlobalAsArray">
      <soap:operation soapAction="http://www.cargonet.software/getShipmentTraceByReferenceGlobalAsArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceGlobalWithCenterAsArray">
      <soap:operation soapAction="http://www.cargonet.software/getShipmentTraceByReferenceGlobalWithCenterAsArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceAndLanguageGlobalAsArray">
      <soap:operation soapAction="http://www.cargonet.software/getShipmentTraceByReferenceAndLanguageGlobalAsArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceGlobalWithImages">
      <soap:operation soapAction="http://www.cargonet.software/getShipmentTraceByReferenceGlobalWithImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByDPDReferenceGlobalAsArray">
      <soap:operation soapAction="http://www.cargonet.software/getShipmentTraceByDPDReferenceGlobalAsArray" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Webtrace_ServiceSoap12" type="tns:Webtrace_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isAlive">
      <soap12:operation soapAction="http://www.cargonet.software/isAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setAlive">
      <soap12:operation soapAction="http://www.cargonet.software/setAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInfo">
      <soap12:operation soapAction="http://www.cargonet.software/getInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTrace">
      <soap12:operation soapAction="http://www.cargonet.software/getShipmentTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceAsArray">
      <soap12:operation soapAction="http://www.cargonet.software/getShipmentTraceAsArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByLanguageAsArray">
      <soap12:operation soapAction="http://www.cargonet.software/getShipmentTraceByLanguageAsArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceWithImages">
      <soap12:operation soapAction="http://www.cargonet.software/getShipmentTraceWithImages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReference">
      <soap12:operation soapAction="http://www.cargonet.software/getShipmentTraceByReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceAsArray">
      <soap12:operation soapAction="http://www.cargonet.software/getShipmentTraceByReferenceAsArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceAndLanguageAsArray">
      <soap12:operation soapAction="http://www.cargonet.software/getShipmentTraceByReferenceAndLanguageAsArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceWithImages">
      <soap12:operation soapAction="http://www.cargonet.software/getShipmentTraceByReferenceWithImages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceGlobal">
      <soap12:operation soapAction="http://www.cargonet.software/getShipmentTraceByReferenceGlobal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceGlobalAsArray">
      <soap12:operation soapAction="http://www.cargonet.software/getShipmentTraceByReferenceGlobalAsArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceGlobalWithCenterAsArray">
      <soap12:operation soapAction="http://www.cargonet.software/getShipmentTraceByReferenceGlobalWithCenterAsArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceAndLanguageGlobalAsArray">
      <soap12:operation soapAction="http://www.cargonet.software/getShipmentTraceByReferenceAndLanguageGlobalAsArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByReferenceGlobalWithImages">
      <soap12:operation soapAction="http://www.cargonet.software/getShipmentTraceByReferenceGlobalWithImages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShipmentTraceByDPDReferenceGlobalAsArray">
      <soap12:operation soapAction="http://www.cargonet.software/getShipmentTraceByDPDReferenceGlobalAsArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Webtrace_Service">
    <wsdl:port name="Webtrace_ServiceSoap" binding="tns:Webtrace_ServiceSoap">
      <soap:address location="http://webtrace.dpd.fr/dpd-webservices/webtrace_service.asmx" />
    </wsdl:port>
    <wsdl:port name="Webtrace_ServiceSoap12" binding="tns:Webtrace_ServiceSoap12">
      <soap12:address location="http://webtrace.dpd.fr/dpd-webservices/webtrace_service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>